.list {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 8px rgba(44, 39, 56, 0.04), 0 20px 20px rgba(44, 39, 56, 0.04);
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    z-index: 1;
}

.list-item {
    height: 25px;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 1.3;
    color: #756F86;
    cursor: pointer;
}

.list-item:hover {
    background-color: #EBF4F8;
}

